.leaflet-label {
	background: rgb(235, 235, 235);
	background: rgba(235, 235, 235, 0.71);
	background-clip: padding-box;
	border-color: rgb(0, 49, 189);
	border-color: rgba(0, 49, 189, 0.43);
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	color: #111;
	display: block;
/*	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif; */
	font-weight: bold;
	padding: 0 4px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label.clubLabel {
	border-color: rgb(153, 46, 46);
	border-color: rgba(153, 46, 46, 0.43);

}

.leaflet-label.proLabel {
	border-color: rgb(174, 183, 22);
	border-color: rgba(174, 183, 22, 0.43);

}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}

.leaflet-label:before,
.leaflet-label:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: none;
	position: absolute;
	top: 3px;
}

.leaflet-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	left: -5px;
}

.leaflet-label:after {
	border-left: 6px solid black;
	border-left-color: inherit;
	right: -10px;
}

.leaflet-label-right:before,
.leaflet-label-left:after {
	content: "";
}
