#contentFly {
	display: none;
	max-width: 742px;
	overflow: scroll;
}
#timeRange, #colorLine, #timeLabels {
	width: 100%;
}
#colorLine, .colorDash {
	height: 13px;
}
.colorDash {
	display: inline-block;
	width: 2.08%;
}
#colorLine {
	position: relative;
	z-index: 0;
	left: 0px;
	top: -19px;
	pointer-events: none;
}
#timeLine{
	width: 100%;
	margin-bottom: 12px;
}
#timeLabels{
	position: relative;
}
.timeLabel {
	position: absolute;
	top: 8px;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	font-size: x-small;
	font-weight: bold;
}
#tableForecast{
	text-align: center;
	border: solid 1px lightgray;
}
td, th {
	padding: 0px 3px;
	border: solid 1px darkkhaki;
	font-size: smaller;
}
.vText{
	transform: rotate(-90deg);
	transform-origin: center center;
	font-size: x-small;
	font-weight: bold;
	max-width: 20px;
}
.flyable { color: green; }
.unflyable { color: red; }
.maybeflyable { color: orange; }


#loadingWeather {
	display: none;
	position: absolute;
	width: 150px;
	height: 113px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -110px;
	z-index: 20002;
	background: url(../img/loadingWeather.gif);
	border-radius: 44px;
	opacity: 0.9;
}
.flyableLabel {
	border: 1px solid #e1dede;
	padding: 3px 3px 0px 3px;
	margin-bottom: 3px;
	background: #ebefe9;
	border-radius: 4px;
}


input[type=range].timeRange {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.45px 0;
}
input[type=range].timeRange:focus {
  outline: none;
}
input[type=range].timeRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(255, 254, 255, 0.16);
  border-radius: 1.4px;
  border: 0.9px solid rgba(0, 0, 0, 0.19);
}
input[type=range].timeRange::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.9px solid #5d5d5d;
  height: 20px;
  width: 10px;
  border-radius: 6px;
  background: #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.35px;
}
input[type=range].timeRange:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.16);
}
input[type=range].timeRange::-moz-range-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(255, 254, 255, 0.16);
  border-radius: 1.4px;
  border: 0.9px solid rgba(0, 0, 0, 0.19);
}
input[type=range].timeRange::-moz-range-thumb {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.9px solid #5d5d5d;
  height: 20px;
  width: 10px;
  border-radius: 6px;
  background: #aaaaaa;
  cursor: pointer;
}
input[type=range].timeRange::-ms-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].timeRange::-ms-fill-lower {
  background: rgba(255, 228, 255, 0.16);
  border: 0.9px solid rgba(0, 0, 0, 0.19);
  border-radius: 2.8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].timeRange::-ms-fill-upper {
  background: rgba(255, 254, 255, 0.16);
  border: 0.9px solid rgba(0, 0, 0, 0.19);
  border-radius: 2.8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].timeRange::-ms-thumb {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2.9px solid #5d5d5d;
  height: 20px;
  width: 10px;
  border-radius: 6px;
  background: #aaaaaa;
  cursor: pointer;
  height: 3.1px;
}
input[type=range].timeRange:focus::-ms-fill-lower {
  background: rgba(255, 254, 255, 0.16);
}
input[type=range].timeRange:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.16);
}
